@{
    ViewData["Title"] = "Home Page";
     var anagrams = new List<String>();
    if (ViewData["Anagrams"]!=null)
    {
        anagrams = (List<String>)ViewData["Anagrams"];
    }

       


}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <form method="post">
        <input type="text" id="myWord" name="myWord" placeholder="Enter Word">

        <input type="submit" value="Submit">
    </form>
</div>
<div>

    @foreach (var anagram in anagrams)
    {
        <tr>
            <td> @anagram  </td> <br>        
        </tr>
    }

</div>

