@model List<string>
@{
}

<div>
    <form method="post">
        <input type="text" id="myWord" name="myWord" placeholder="Enter Word">

        <input type="submit" value="Submit">
    </form>
</div>
<div>
    <br>
    <h3>Anagrams:</h3>
    <br>
    @foreach (var anagram in @Model)
    {
        <tr>
            <td> @anagram  </td>
            <br>
        </tr>
    }

</div>

