@model List<string>
@{
}
<div>
    <form method="post" asp-action="OnWordWritten">
        <input type="text" id="myWord" name="myWord" placeholder="Enter Word">

        <input type="submit" value="Submit">
    </form>
</div>
<div>
    <br>
    <h3>@ViewData["Anagrams"]</h3>
    <br>
    <table class="table">
        @foreach (var anagram in @Model)
        {
            <tr>
                <td> @anagram  </td>
                <br>
            </tr>
        }
    </table>
    @ViewData["Error"]
</div>

